<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Primary Meta Tags -->
    <title>Locos por el fútbol - Camisetas actuales</title>
    <meta name="title" content="Locos por el fútbol" />
    <meta
      name="description"
      content="En Locos por el fútbol, encontrarás las mejores camisetas de los equipos actuales y también las mejores camisetas retro. Además, podrás encontrar los mejores botines para demostrar tu rendimiento dentro de la cancha."
    />
    <meta
      name="keywords"
      content="Camisetas, Botines, Tienda, Futbol, Retros, Retro, Actuales, Belgrano, Boca, River"
    />
    <link rel="shortcut icon" href="/images/logo.jpg" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="" />
    <meta property="og:title" content="Locos por el fútbol" />
    <meta
      property="og:description"
      content="En Locos por el fútbol, encontrarás las mejores camisetas de los equipos actuales y también las mejores camisetas retro. Además, podrás encontrar los mejores botines para demostrar tu rendimiento dentro de la cancha."
    />
    <meta property="og:image" content="https://i.imgur.com/g54vLD9.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="" />
    <meta property="twitter:title" content="Locos por el fútbol" />
    <meta
      property="twitter:description"
      content="En Locos por el fútbol, encontrarás las mejores camisetas de los equipos actuales y también las mejores camisetas retro. Además, podrás encontrar los mejores botines para demostrar tu rendimiento dentro de la cancha."
    />
    <meta property="twitter:image" content="https://i.imgur.com/g54vLD9.png" />
    <link rel="stylesheet" href="../css/styles.css" />
    <script
      src="https://kit.fontawesome.com/3c88a73403.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <header class="navbar navbar-expand-md bg-body-tertiary color-n">
      <div class="container">
        <a class="navbar-brand" href="#">Locos por el fútbol</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <nav
          class="collapse navbar-collapse justify-content-end"
          id="navbarNavDropdown"
        >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="../index.html">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./views/remerasactuales.html">Camisetas</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <main id="modoDeLuz" class="light">
      <a class="contenedor-productos__volver-al-inicio" href="../index.html"
        ><i
          class="fa-solid fa-arrow-left contenedor-productos__volver-al-inicio"
        ></i>
        Inicio</a
      >
      <h1 class="contenedor-productos__titulo--productos animacion-titulos">
        Camisetas Actuales
      </h1>
      <div class="botonDeLuz" id="modoDeLuzBoton">
        <div id="iconoContenedor">
          <i id="modoIcono" class="fas fa-sun"></i>
        </div>
      </div>

        <div id="abrirCarrito">
          <i class="fas fa-shopping-cart">Ver carrito</i>
        </div>
      <div id="carritoContenedor" style="display: none;">
        <table id="carritoTable" class="table">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Nombre</th>
              <th scope="col">Precio</th>
              <th scope="col">Accion</th>
            </tr>
          </thead>
          <tbody id="carritoBody">
            
          </tbody>
          
        </table>
        <div>
          <p style="color: black;" id="precioTotal"></p>
        </div>
      </div>
      
      <hr />

      <div class="container">
        <div class="row height d-flex justify-content-center align-items-center">
          <div class="col-md-6">
            <div class="form">
              <i class="fa fa-search"></i>
              <input type="text" id="inputBusqueda" class="form-control form-input" placeholder="Busca una remera...">
            </div>
          </div>
      
          <div class="col-md-3">
            <div class="form">
              <input type="number" id="inputMinimo" class="form-control form-input" placeholder="Mínimo para gastar">
            </div>
          </div>
      
          <div class="col-md-3">
            <div class="form">
              <input type="number" id="inputMaximo" class="form-control form-input" placeholder="Máximo para gastar">
            </div>
          </div>
        </div>
      </div>
      


      <section class="contenedor-productos" id="camisetas">
        <!-- Todos los productos van aca -->
        
      </section>

    </main>

    <footer>
      <section class="contenedor__footer">
        <div class="contenedor__footer--titulo">
          <a href="">Locos por el futbol</a>
        </div>
        <div class="contenedor__footer--acercade">
          <h5>Acerca de</h5>
          <ul class="contenedor__footer--listas">
            <li>
              <a href="#">Nosotros</a>
            </li>
            <li>
              <a href="views/faq.html">FAQ</a>
            </li>
            <li>
              <a href="#">Politicas de cambios</a>
            </li>
          </ul>
        </div>
        <div class="contenedor__footer--productos">
          <h5>Productos</h5>
          <ul class="contenedor__footer--listas">
            <li>
              <a href="views/remerasactuales.html">Camisetas Actuales</a>
            </li>
          </ul>
        </div>
        <div class="contenedor__footer--contacto">
          <h5>Contacto</h5>
          <ul class="contenedor__footer--listas">
            <li>
              <a href="#">Instagram</a>
            </li>
            <li>
              <a href="#">Twitter</a>
            </li>
            <li>
              <a href="#">Facebook</a>
            </li>
          </ul>
        </div>
      </section>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../js/camisetas.js"></script>
    <script src="../js/index.js"></script>
  </body>
</html>
